<div class="row">
	<div class="col-md-3">
		<ul>
			{{#each e in entitiesSaved}}
				{{#dragdroppable-item entity=e}}
					<li><span class="entity">{{e.name}}</span></li>
				{{/dragdroppable-item}}
			{{/each}}
		</ul>
		<svg width="200px" height="300px">
			{{#each e in entitiesSaved}}
				<foreignObject width="200px" height="300px">
					<body xmlns="http://www.w3.org/1999/xhtml"><span class="entity">{{e.name}}</span></body>
				</foreignObject>
			{{/each}}
		</svg>
	</div>
	{{view "doc-content"}}
	<div class="col-md-3">
		{{#if annotationSelected}}
			{{margin-annotation annotation=annotationSelected action="deleteAnnotation"}}
		{{/if}}
	</div>
</div>